In [2]:
import pandas as pd

In [3]:
#read in january data
jan1 = pd.read_csv('../Resources/202401-citibike-tripdata_1.csv')
jan2 = pd.read_csv('../Resources/202401-citibike-tripdata_2.csv')

C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\1333294162.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  jan1 = pd.read_csv('../Resources/202401-citibike-tripdata_1.csv')
C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\1333294162.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan2 = pd.read_csv('../Resources/202401-citibike-tripdata_2.csv')

In [4]:
#read in february data
feb1 = pd.read_csv('../Resources/202402-citibike-tripdata_1.csv')
feb2 = pd.read_csv('../Resources/202402-citibike-tripdata_2.csv')
feb3 = pd.read_csv('../Resources/202402-citibike-tripdata_3.csv')

C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3169072278.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb1 = pd.read_csv('../Resources/202402-citibike-tripdata_1.csv')
C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3169072278.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb2 = pd.read_csv('../Resources/202402-citibike-tripdata_2.csv')
C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3169072278.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb3 = pd.read_csv('../Resources/202402-citibike-tripdata_3.csv')

In [5]:
#read in march data
mar1 = pd.read_csv('../Resources/202403-citibike-tripdata_1.csv')
mar2 = pd.read_csv('../Resources/202403-citibike-tripdata_2.csv')
mar3 = pd.read_csv('../Resources/202403-citibike-tripdata_3.csv')

C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3587180115.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar1 = pd.read_csv('../Resources/202403-citibike-tripdata_1.csv')
C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3587180115.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar2 = pd.read_csv('../Resources/202403-citibike-tripdata_2.csv')
C:\Users\cpord\AppData\Local\Temp\ipykernel_21692\3587180115.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar3 = pd.read_csv('../Resources/202403-citibike-tripdata_3.csv')

In [6]:
#consolidate jan data
jan = pd.concat([jan1, jan2], axis = 0)

In [7]:
#consolidate feb data
feb  = pd.concat([feb1, feb2, feb3], axis = 0)

In [8]:
#consolidate mar data
mar = pd.concat([mar1, mar2, mar3], axis = 0)

In [9]:
#add month number to each dataframe
jan['month'] = 1
feb['month'] = 2
mar['month'] = 3

In [32]:
#find the most used  lat and long for each start station name
grouped_lat = jan[['start_station_name', 'start_lat']].groupby('start_station_name')
grouped_lng = jan[['start_station_name', 'start_lng']].groupby('start_station_name')
pop_lat = grouped_lat['start_lat'].agg(lambda x: x.mode().iloc[0])
pop_lng = grouped_lng['start_lng'].agg(lambda x: x.mode().iloc[0])

In [35]:
#map the lat and long to each row
jan['pop_lat'] = jan['start_station_name'].map(pop_lat)
jan['pop_lng'] = jan['start_station_name'].map(pop_lng)

In [36]:
#check heads to confirm changes
jan.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,pop_lat,pop_lng
0,58F2CA262B50E256,classic_bike,2024-01-25 20:39:09,2024-01-25 20:44:07,Broadway & E 14 St,5905.12,Ave A & E 11 St,5703.13,40.734546,-73.990741,40.728547,-73.981759,member,1,40.734546,-73.990741
1,AA7AB6D6E9F8D21B,classic_bike,2024-01-15 18:44:36,2024-01-15 19:19:46,E 16 St & Irving Pl,5938.11,Clermont Ave & Park Ave,4692.01,40.735367,-73.987974,40.695734,-73.971297,member,1,40.735367,-73.987974
2,1830A6C4BA1E1A9D,classic_bike,2024-01-03 19:27:58,2024-01-03 19:58:42,E 16 St & Irving Pl,5938.11,Clermont Ave & Park Ave,4692.01,40.735367,-73.987974,40.695734,-73.971297,member,1,40.735367,-73.987974
3,3995B084A51A1038,classic_bike,2024-01-22 18:29:46,2024-01-22 18:59:57,E 16 St & Irving Pl,5938.11,Clermont Ave & Park Ave,4692.01,40.735367,-73.987974,40.695734,-73.971297,member,1,40.735367,-73.987974
4,23EE6A8979C333B1,classic_bike,2024-01-27 09:55:39,2024-01-27 10:00:48,E 16 St & Irving Pl,5938.11,E 14 St & 1 Ave,5779.10,40.735367,-73.987974,40.731393,-73.982867,member,1,40.735367,-73.987974

In [37]:
#find the most used  lat and long for each start station name
#map the lat and long to each row
grouped_lat = feb[['start_station_name', 'start_lat']].groupby('start_station_name')
grouped_lng = feb[['start_station_name', 'start_lng']].groupby('start_station_name')
pop_lat = grouped_lat['start_lat'].agg(lambda x: x.mode().iloc[0])
pop_lng = grouped_lng['start_lng'].agg(lambda x: x.mode().iloc[0])
feb['pop_lat'] = feb['start_station_name'].map(pop_lat)
feb['pop_lng'] = feb['start_station_name'].map(pop_lng)

In [38]:
feb.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,pop_lat,pop_lng
0,305C7BE0B5B34D09,electric_bike,2024-02-23 17:02:15,2024-02-23 17:13:21,Murray St & West St,5329.08,Fulton St & Adams St,4637.06,40.715381,-74.012624,40.692418,-73.989495,member,2,40.715030,-74.012460
1,009A4C1BA2E187DB,electric_bike,2024-02-09 08:49:28,2024-02-09 08:53:59,Morris Ave & E 163 St,8036.05,Jerome Ave & Anderson Ave,8061.01,40.827153,-73.917740,40.830179,-73.928747,member,2,40.827230,-73.917656
2,7263430CDB294956,electric_bike,2024-02-17 10:51:27,2024-02-17 10:55:50,Morris Ave & E 163 St,8036.05,Jerome Ave & Anderson Ave,8061.01,40.827121,-73.917793,40.830179,-73.928747,member,2,40.827230,-73.917656
3,3AE36736C8C79EBC,electric_bike,2024-02-01 09:00:46,2024-02-01 09:21:20,Court St & Nelson St,4077.07,Lafayette St & Grand St,5422.09,40.676262,-73.998770,40.720280,-73.998790,member,2,40.676395,-73.998699
4,15DC38D722001DDB,electric_bike,2024-02-23 09:02:12,2024-02-23 09:08:43,Court St & Nelson St,4077.07,3 St & 7 Ave,3905.15,40.676432,-73.998762,40.670384,-73.978397,member,2,40.676395,-73.998699

In [39]:
#find the most used  lat and long for each start station name
#map the lat and long to each row
grouped_lat = mar[['start_station_name', 'start_lat']].groupby('start_station_name')
grouped_lng = mar[['start_station_name', 'start_lng']].groupby('start_station_name')
pop_lat = grouped_lat['start_lat'].agg(lambda x: x.mode().iloc[0])
pop_lng = grouped_lng['start_lng'].agg(lambda x: x.mode().iloc[0])
mar['pop_lat'] = mar['start_station_name'].map(pop_lat)
mar['pop_lng'] = mar['start_station_name'].map(pop_lng)

In [40]:
mar.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,pop_lat,pop_lng
0,0FC89A53DF9D7E90,electric_bike,2024-03-07 19:49:43,2024-03-07 20:20:33,48 St & Skillman Ave,6283.05,Kingston Ave & Park Pl,4016.03,40.746154,-73.916189,40.673080,-73.941910,member,3,40.746229,-73.916163
1,0FF38F5D1277746B,electric_bike,2024-03-15 17:45:30,2024-03-15 17:55:39,Liberty St & Broadway,5105.01,Mercer St & Spring St,5532.01,40.708859,-74.010232,40.723627,-73.999496,member,3,40.709056,-74.010434
2,DE040AD144FB0BFA,electric_bike,2024-03-19 18:00:52,2024-03-19 18:07:26,W 56 St & 6 Ave,6809.07,E 43 St & Madison Ave,6551.11,40.763406,-73.977225,40.753547,-73.978966,member,3,40.763406,-73.977225
3,5C7DFD80B04BBA5A,electric_bike,2024-03-05 17:25:30,2024-03-05 17:30:17,W 56 St & 6 Ave,6809.07,E 43 St & Madison Ave,6551.11,40.763062,-73.977672,40.753547,-73.978966,member,3,40.763406,-73.977225
4,5C0A03B95B0D0A0F,electric_bike,2024-03-22 13:18:37,2024-03-22 13:23:24,5 Ave & W 126 St,7701.21,Frederick Douglass Blvd & W 115 St,7658.13,40.660947,-73.983043,40.803865,-73.955931,member,3,40.807220,-73.941800

In [41]:
#output each csv and a concatted one
all_2024 = pd.concat([jan, feb, mar])
all_2024.to_csv('all_2024.csv', index = False)
# jan.to_csv('jan_final.csv', index = False)
# feb.to_csv('feb_final.csv', index = False)
# mar.to_csv('mar_final.csv', index = False)